@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  margin: 0;
}

.navbar {
  position: fixed;
  min-width: 10vw;
  border-right: 1px solid #282828;
  background-color: #282828;
  top: 0;
  left: 0;
  height: 100vh;
}

nav {
  display: block;
  unicode-bidi: isolate;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
}

main {
  display: block;
  unicode-bidi: isolate;
  margin-left: 10vw;
  font-family: "Roboto Mono", serif;
}

#taskbar {
  list-style-type: none;
  padding-left: 0;
  padding-top: 15vh;
  font-family: "Roboto Condensed", serif;
}

.taskbarbutton {
  color: #938ee9;
  font-size: 25px;
  margin-top: 35px;
  text-align: center;
  font-weight: bold;
}

.full-height {
  height: 100vh;
}

#homePage {
  background-color: #9fa2ce;
  margin-top: 0;
  color: #121212;
}

#intro {
  margin-top: 0;
  padding-left: 10vw;
  padding-top: 17vh;
  font-size: 40px;
}

#jobtitle {
  padding-left: 10vw;
  font-size: 25px;
}

#about {
  padding-left: 10vw;
  font-size: 30px;
}

#aboutPage {
  background-color: #121212;
}

.sectionTitle {
  background-color: #938ee9;
  height: 5rem;
  position: relative;
  font-weight: bold;
}

#aboutTitle {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 3rem;
  font-size: 36px;
}

#someInfo {
  max-width: 80%;
  font-size: 30px;
  margin-right: auto;
  margin-left: auto;
  color: aliceblue;
  padding-top: 50px;
}

#myAbilities {
  list-style-type: none;
  padding-left: 15vw;
  padding-top: 30px;
}

.abilitiesBulletin {
  font-size: 28px;
  color: aliceblue;
  margin-top: 20px;
}

#contactPage {
  background-color: #3f3f3f;
}
